@charset "UTF-8"
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family:"idroid";
    src: url("idroid.otf");
}
header {
background-color: rgb(8, 87, 21);
border-radius: 10px;
box-shadow: 5px 5px 15px rgb(136, 109, 93, 0.616);
width:auto;
padding: 10px;
margin: auto;
text-align: center;   
}
h1 {
    font-family: 'Bebas Neue', cursive;
    color: white;
}
h6 {font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
}
nav {font-family: Arial, Helvetica, sans-serif; color:white;                           
        
    margin-right: 200px;
    font-size: 12px;
        text-decoration: none;
        
        line-height: 5px;
        text-align: left;
        text-transform: none;

    
    /*
    margin-left: 0px;
    margin-right: 20px;
    text-align: left;
    color: white*/
}
nav mark {
    color: white;
    background-color: #57d68a;
        font-size: 16px;
        margin: 0px 0px;
        text-decoration: none;

}

a:link {text-decoration: none;}
h2 
    font-family: idroid;
    color: green;
    margin-left: 10px;
}

main p {
    color: black;
    text-align: left;
    margin-left: 10px;
    text-indent: 30px;   
            
}

main mark {
    font-family: Arial, Helvetica, sans-serif; color:#0ab84f;
        background-color: transparent;
        font-size: 16px;
        margin: 0px 0px;  
        text-decoration: none;
}

h3 {
    font-family: idroid;
    color: green;
    margin-left: 10px;
    background-image: linear-gradient(to right,rgb(158, 231, 158), rgba(189, 226, 189, 0.623), rgba(198, 226, 198, 0.055));
}
p { color: black;
    text-align: left;
    margin-left: 10px;
    text-indent: 30px; 
}

div {
 text-align: center;
}
section p {
        text-align: left;
        text-indent: 30px;
        font-size: 16px;
    }

    section mark {
        font-family: Arial, Helvetica, sans-serif; color:#0ab84f;
        background-color: transparent;
        font-size: 16px;
        margin: 0px 0px;
    }

    article mark{
        font-family: Arial, Helvetica, sans-serif; color:#18c05b;
        background-color: transparent;
        font-size: 16px;
        margin: 0px 0px;    
    }
    aside h4{
        color: white;
        background-color:rgb(17, 122, 48) ;
        border-radius top:10px;
        padding: 10px;
        
        padding-top: 10px;
    }
    aside {
    height: 550px;    
    background-color: #a4fac69f;
    padding top: 0px;
    padding bottom: 100px;
    margin: 10px;            
    border-radius: 10px 10px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.384);
   
    }

    aside mark {
        font-family: Arial, Helvetica, sans-serif; color:#0e7236;
        background-color: transparent;
        font-size: 16px;
        margin: 0px 0px; 
    }

    footer mark {
        font-family: Arial, Helvetica, sans-serif; color:#0e7236;
        background-color: transparent;
        font-size: 16px;
        margin: 10px 0px;
        border auto: ;
    }

    pre p {
        text-align:right;
        font-size: 16px;
}

